// <uniquifier>: Use a unique and descriptive class name

.body> {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
.divbar{
  display: flex;
  gap: 10px;
}
.img{
  width: 100%;
  height: 100%;
  margin: auto;
}
.main-btn{
  background-color:#FEA301 ;
  color: white;
  font-size:1.20rem ;
  font-weight:600 ;
  padding:0px 30px;
  height: 40px;
  padding: 5px 30px;
  text-align: center;
  border: none;
  border-radius: 8px;

}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  font-weight:500 ;
 
}
.home-links{
  display: flex;
  font-size:1.20rem ;
  font-weight:600 ;
  gap: 32px;
}
.Home{
  color:#FEA301 ;
}
.About{
 color:#01ACFD ;
}
.Facilities{
 color:#05D4DF ;
}
.Admission{
 color:#5D58EF ;
}
nav,ul,li {
  list-style: none;
}
nav,ul,a{
  text-decoration: none;
}
/* banner styles */
.banner{
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
}
.img-2{
  height: 100%;
}
.body{
 max-width: 1800px;
 background-color: rgb(241, 241, 241);
 
}
.header{
  margin: 0 auto;
}
.main-title{
  font-size: 3.5rem;
  padding-left: 150px;
  max-width: 600px;
  padding-top: 100px;
  
}
.wering{
  color: #FEA301;
}
.vision{
  color: #01ACFD;
}
.title-descrpstion{
  max-width: 640px;
  padding-left: 150px;
  padding-top: 30px;
  margin-top: 30px;
  font-size: 1.20rem;
  color: #111111;
 
}
.Enroll-btn{
  background-color: black;
  color:#FFFFFF ;
  font-size:1.20rem;
  font-weight:bold ;
  padding:10px 20px ;
  margin-left: 150px;
  margin-top: 20px;
  border-radius: 8px;
  border: none;
}
@media screen and (max-width:567px) {
  .navbar {
    display: inline-block;
   
}
.SCHOOL{
  text-align: end;
}
  .home-link ,a{
    display: none;
  }
  .banner{
  flex-direction: column-reverse;
  }
  .main-btn{
    display: none;
  }
  .main-title{
    padding: 10px;
    margin-left: 5px;
    text-align: center;
   font-size: 2rem;
   max-width: 320px;

  }
  .title-descrpstion{
    padding: 10px;
    max-width: 400px;
   margin-left: 5px;
   text-align: center;
   max-width: 335px;
    margin-top: 5px;
  }
  .img-2{
    /* margin: 0  auto; */
   margin-left: 25px;
    height:370px;
    width:300px;
    0%;
  }
  .Enroll-btn{
    text-align: start;
    margin-left: 95px;
    
    
    
    px;
  }
}





main{
  background-image:url(../assets/bg.png);
  height: 100%;
  width: 100%;
}









.section-title-main{
  /* max-width: 460px; */
  font-size: 2.5rem;
  text-align: center;
  color: #000000;
  margin-top: 30px;
}
.Standard {

 display: flex;
 gap: 70px;
margin: 100px 100px 100px 160px;
}

.main-des{
 
}
.section-crad{
 background:white;
 /* margin-r: 100px; */
  height: 430px;
  width: 400px;
  border-radius: 18px;
}
#section-main{
  background: linear-gradient(#F2E8FF 30% , #FFFFFF 90%);
}
#section-box{
  background: linear-gradient(#FFF4DC 30% , #FFFFFF 90%);
}
#section-crad{
  background: linear-gradient(#DEF5FF 30% ,#FFFFFF 90%);
  
}
.main-img{
  height: 126px;
  width: 125px;
  padding: 52px 113px 0px 113px ;
}
.mai-title{
  font-size: 1.30rem;
  font-weight: bold;
  color: #202020;
  text-align: center;
  margin-top: 5px;
}
.main-des{
  font-size: 1rem;
  font-weight: 600;
  color: #808080;
  text-align: center;
  
  
}
.section-main-btn{
  text-align: center;
 font-size: 1rem;
 font-weight: bold;
 padding: 45px;

}
#btn-1{
 color:#64C8FF ;
} 
#btn-2{
color:#F0AA00 ;
}
#btn-3{
color:#8700FF ;
}

.div-icon{
  display: flex;
  margin-top: 20px;
  
  gap: 20px;
}
.div-h1{
  background-color: #F0AA00;
  padding: 20px;
  border-radius: 50px;
  font-size: 1.50rem;
  font-weight: 600;
  color: #FFFFFF;
}
.icon{
  background-image:url(../assets/bg.png);
  margin: 10px 30px 50px 730px;


}


@media screen and (max-width:576px) {
  .Standard{
   flex-direction: column;
   margin: 20px;
   gap: 0px;

  }
  .section-title-main{
    max-width: 350px;
    font-size: 1.20rem;
    font-weight: bold;
    text-align: center;
  }
  .main-des{
    font-size: 10px;
    max-width: 193px;
    text-align: center;
    padding-left: 50px;
  }
  .mai-title{
    font-size: 16px;
    max-width: 142px;
    padding-left: 60px;
  }
  .main-img{
    max-width: 92px;
    max-height: 92px;
  }
  .btn-1 ,.btn-3 ,.btn-3{
    max-width: 50px;
    max-height: 50px;
    text-align:center;
  }
  .section-crad{
    max-width: 300px;
    max-height: 350px;
  }
}







.main{

  background-image: linear-gradient(#FFFFFF,#cba25d 70%);
 
  height: 100%;
}
.class-section{
  background-image: url(../assets/bg.png);
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}

.main-titl{
  text-align: center;
  font-size:2.80rem ;
  font-weight:bold ;
  color: #000000;
  max-width: 100%;
  margin-right: 80px;
  margin-bottom: 70px;
  margin-top:50px;
}
.grid-section{
  margin-left: 200px;

}
.btn-1{
  font-size:1rem ;
  font-weight:500 ;
  padding:8px 15px ;
  background-color:#3CD8E8 ;
  color:#FFFFFF ;
  border-radius: 30px;
  border: none;
  margin-top:355px ;
  margin-left:50px ;
}
.title{
  max-width: 380px;
  font-size: 1.20rem;
  font-weight: bold;
  
  margin-left: 50px;
  color: #000000;
}
.main-desc{
  margin-left: 50px;
}







.class-section{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  margin-left: 100px;
  margin-bottom: 50px;
}
.div-container{
 
 
 
}
.main-desc{
  max-width: 320px;
}
.grid-section{
  display: flex;
}
#div-container-1{
  background-repeat: no-repeat;
  background-image: url(../assets/story-2.png);
  background-size: 291px 177px;
  background-color: white;
  border-radius: 18px;
  height: 280px;
  width: 291px;

  
}
#div-container-2{
  background-repeat: no-repeat;
  background-image: url(../assets/story-3.png);
  background-color: white;
  border-radius: 18px;
  height: 280px;
  width: 291px;
}
#div-container-3{
  background-repeat: no-repeat;
  background-image: url(../assets/story-4.png);
  background-color: white;
  border-radius: 18px;
  height: 280px;
  width: 291px;
}
#div-container-4{
  background-repeat: no-repeat;
  background-image: url(../assets/story-5.png);
  background-color: white;
  border-radius: 18px;
  height: 280px;
  width: 291px;
}
.butt-1{
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 13px;
  border-radius: 30px;
   text-align: center;
   margin-top: 155px;
   margin-left: 40px;
   background-color: #95B226;
   color: #FFFFFF;
   border: none;
}
.butt-2{
  font-size: 15px;
  font-weight: 500;
  padding: 8px 13px;
  border-radius: 30px;
   text-align: center;
   margin-top: 155px;
   margin-left: 40px;
   color: #FFFFFF;
   background-color: #5D58F0;
   border: none;
}
.butt-3{
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 13px;
  border-radius: 30px;
   text-align: center;
   margin-top: 160px;
   margin-left: 45px;
   background-color: #95B226;
   color: #FFFFFF;
   border: none;
}
.butt-4{
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 13px;
  border-radius: 30px;
   text-align: center;
   margin-top: 160px;
   margin-left: 50px;
   background-color: #95B226;
   color: #FFFFFF;
   border: none;
}


  
  
 

.main-wrk{
  background-repeat: no-repeat;
  background-image:url(../assets/story-1.png) ;
  background-size: 591px;
 background-color: white;
 width: 591px;
 height: 580px;
 border-radius: 18px;
}

.class-title{
  
  max-width: 198px;
 padding-left: 50px;
}













.Kids{
  display: flex;
  align-items: center;
}
.footer{
  display: flex;
  gap: 200px;
  background-color: #84adc0;
  margin-top: 10px;
  padding: 100px 80px 0px 80px ;
 
}


.img-link{
  display: flex;
  gap: 5px;
  max-width: 192px;
}
.Education{
  max-width: 399px;
  margin-left: 150px;
}
.About-titel{
  max-width:200px;
  margin-top: 40px;
  
}
.h5{
  text-align: center;
  margin-bottom: 5px;
  font-size: 1.27rem;
  font-weight: bold;
  color: #FFFFFF;
  margin-top: 22px;
 
}
.footer-link{
  color: #f8f8f8;
  font-size:1.20rem ;
  font-weight: 400;
  text-align: start; 
  padding: 20px;
  
}
.h-3{
  max-width: 150px;
  font-size: 2.29rem;
  font-weight: bold;
  color: #FFFFFF;
}
.Kids,img {
  height: 60%;
  margin-bottom: 20px;
}
.Pizza{
  font-size: 1.20rem;
  font-weight: 400;
  max-width: 350px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
#Home{
  padding-bottom: 15px;
 
}
#About{
padding-bottom: 15px;
}
#Facilities{
padding-bottom: 15px;
}
#Admission{
padding-bottom: 15px;
}
.h4{
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 50px;
  color: #FFFFFF;
}
.h4{
  margin-top: 60px;
  padding-left: 55px;
}
.img-link{
 text-align: center;
 max-width: 100px;
 padding-right: 10px;
}
.icons{
  max-width: 177px;
}


@media screen and (max-width:576px) {
  .main-wrk{
    display: none;
  }
  .class-section{
    margin-left:0px;
    margin-right: 400px;
    display:grid ;
    grid-template-columns: repeat(2,1fr);
  }
  #div-container-1{
    max-width: 140px;
    max-height: 180px;
    background-size: 140px;
    gap: 5px;
   
  }#div-container-2{
    max-width: 140px;
    max-height: 180px;
    background-size: 140px;
    gap: 5px;
   
  }#div-container-3{
    max-width: 140px;
    max-height: 180px;
    background-size: 140px;
    gap: 5px;
  }#div-container-4{
    max-width: 140px;
    max-height: 180px;
    background-size: 140px;
    gap: 5px;
  }
  .class-title{
    max-width: 117px;
    max-height: 34px;
    font-size: 9px;

  }
  .butt-1{
    font-size: 9px;
    margin-top: 85px;
    margin-left: 20px;
  }.butt-2{
    font-size: 9px;
    margin-top: 85px;
    margin-left: 20px;
  }.butt-3{
    font-size: 9px;
    margin-top: 85px;
    margin-left: 20px;
  }.butt-4{
    font-size: 9px;
    margin-top: 85px;
    margin-left: 20px;
  }
  .main-titl{
    font-size: 26px;
    text-align: center;
  }
  .grid-section{
    margin-left: 10px;
  }
  .main-desc{
    margin-right: 30px;
  }
  .footer{
    display: none;
  }
  
}

